@tailwind base;
@tailwind components;
@tailwind utilities;


.cover-container {
    height: 400px;
    width: 400px;
    background: #F7F7F7;
}

/*[type=submit].bg-stone-800 {*/
/*    background: initial;*/
/*}*/